---
- name: load architecture vars
  with_first_found:
    - '../vars/architecture/{{ java_arch }}.yml'
    - ../vars/architecture/default.yml
  include_vars: '{{ item }}'

- name: load package mgr vars
  with_first_found:
    - '../vars/packages/{{ ansible_pkg_mgr }}.yml'
    - ../vars/packages/default.yml
  include_vars: '{{ item }}'

- name: create download directory
  file:
    state: directory
    mode: 'u=rwx,go=rx'
    dest: '{{ java_download_dir }}'

- name: copy local JDK
  include_tasks: adoptium-copy-local-jdk.yml
  when:
    - java_use_local_archive
    - java_redis_sha256sum not in (None, '', omit)
    - java_redis_filename not in (None, '', omit)

- name: check for JDK on remote box
  stat:
    path: '{{ java_download_dir }}/{{ java_redis_filename }}'
    checksum_algorithm: sha256
  register: remote_jdk_file
  ignore_errors: yes
  when: java_redis_filename not in (None, '', omit)

- name: query Adoptium
  include_tasks: adoptium-query.yml
  when: >
    (java_major_version | default(None)) in (None, '', omit)
    or java_release_name in (None, '', omit)
    or java_redis_filename in (None, '', omit)
    or java_redis_sha256sum in (None, '', omit)
    or (java_redis_mirror in (None, '', omit) and not remote_jdk_file.stat.exists)

- name: java version to install
  debug:
    var: java_release_name

- name: set JDK version
  set_fact:
    java_jdk_version: "{{ java_release_name | regex_replace('^jdk-?([0-9]+([u\\.][0-9]+)*).*', '\\1') }}"

- name: check for JDK on remote box
  stat:
    path: '{{ java_download_dir }}/{{ java_redis_filename }}'
    checksum_algorithm: sha256
  register: remote_jdk_file
  ignore_errors: yes

- name: assert existing JDK matches checksum
  assert:
    that:
      - remote_jdk_file.stat.checksum == java_redis_sha256sum
    msg: 'Checksum failed: {{ remote_jdk_file.stat.checksum }} != {{ java_redis_sha256sum }}'
  when: remote_jdk_file.stat.exists

- name: download JDK
  get_url:
    url: '{{ java_redis_url }}'
    dest: '{{ java_download_dir }}/{{ java_redis_filename }}'
    checksum: 'sha256:{{ java_redis_sha256sum }}'
    force: no
    timeout: '{{ java_download_timeout_seconds }}'
    mode: 'u=rw,go=r'
  when: not remote_jdk_file.stat.exists

- name: create Java home directory
  become: yes
  file:
    path: '{{ java_home }}'
    state: directory
    owner: root
    group: root
    mode: 'u=rwx,go=rx'

- name: install dependencies (apt, yum, dnf, zypper)
  become: yes
  package:
    name: '{{ java_dependencies }}'
    state: present
  when: ansible_pkg_mgr in ('apt', 'yum', 'dnf', 'zypper')

# Workaround for: https://github.com/AdoptOpenJDK/openjdk-build/issues/660
- name: check JDK archive layout
  become: yes
  shell: |
    set -o pipefail
    tar --list --file {{ (java_download_dir + '/' + java_redis_filename) | quote }} | grep --quiet '^\.'
  args:
    # [WARNING]: Consider using the unarchive module rather than running tar.
    warn: no
  register: java_jdk_layout
  failed_when: no
  changed_when: no

- name: install JDK
  become: yes
  unarchive:
    src: '{{ java_download_dir }}/{{ java_redis_filename }}'
    extra_opts:
      - "--strip-components={{ (java_jdk_layout.rc == 0) | ternary('2', '1') }}"
    dest: '{{ java_home }}'
    creates: '{{ java_home }}/bin/java'
    copy: no
    owner: root
    group: root
    mode: 'go-w'

- name: generate CDS archive
  become: yes
  command: '{{ java_home }}/bin/java -Xshare:dump'
  args:
    creates: >-
      {{ java_home }}{{ (java_major_version == '8') |
      ternary('/jre/lib/' + java_arch_dir, '/lib') }}/server/classes.jsa
  when: java_major_version in ('8', '9', '10', '11')
