---
- name: check for JCE on local box
  stat:
    path: '{{ java_local_archive_dir }}/{{ java_jce_redis_filename }}'
  delegate_to: localhost
  register: local_JCE_file
  ignore_errors: yes
  become: no
  when: java_use_local_archive

- name: copy JCE from local box
  become: yes
  copy:
    src: '{{ java_local_archive_dir }}/{{ java_jce_redis_filename }}'
    dest: '{{ java_download_dir }}/{{ java_jce_redis_filename }}'
    mode: 'u=rw,go=r'
  when: java_use_local_archive and local_JCE_file.stat.exists

- name: check for JCE on remote box
  stat:
    path: '{{ java_download_dir }}/{{ java_jce_redis_filename }}'
    checksum_algorithm: sha256
  register: remote_JCE_file
  ignore_errors: yes

- name: assert existing JCE matches checksum
  assert:
    that:
      - remote_JCE_file.stat.checksum == java_jce_redis_sha256sum
    msg: 'Checksum failed: {{ remote_JCE_file.stat.checksum }} != {{ java_jce_redis_sha256sum }}'
  when: remote_JCE_file.stat.exists

- name: download JCE
  get_url:
    url: '{{ java_jce_redis_mirror }}/{{ java_jce_redis_filename }}'
    headers: 'Cookie:oraclelicense=accept-securebackup-cookie'
    dest: '{{ java_download_dir }}/{{ java_jce_redis_filename }}'
    sha256sum: '{{ java_jce_redis_sha256sum }}'
    force: no
    use_proxy: yes
    validate_certs: yes
    timeout: '{{ java_jce_download_timeout_seconds }}'
    mode: 'u=rw,go=r'
  when: not remote_JCE_file.stat.exists

- name: unzip JCE
  unarchive:
    src: '{{ java_download_dir }}/{{ java_jce_redis_filename }}'
    dest: '{{ java_download_dir }}'
    creates: '{{ java_download_dir }}/{{ java_jce_redis_folder }}/local_policy.jar'
    copy: no

- name: install local_policy.jar
  become: yes
  copy:
    src: '{{ java_download_dir }}/{{ java_jce_redis_folder }}/local_policy.jar'
    remote_src: yes
    dest: '{{ java_home }}/jre/lib/security/local_policy.jar'
    owner: root
    group: root
    mode: 'u=rw,go=r'

- name: install US_export_policy.jar
  become: yes
  copy:
    src: '{{ java_download_dir }}/{{ java_jce_redis_folder }}/US_export_policy.jar'
    remote_src: yes
    dest: '{{ java_home }}/jre/lib/security/US_export_policy.jar'
    owner: root
    group: root
    mode: 'u=rw,go=r'
