---
- name: install profile scripts (zypper)
  become: yes
  package:
    name: aaa_base
    state: present
  when: ansible_pkg_mgr == 'zypper'

# Set JAVA_HOME
- name: make sure /etc/profile.d exists
  become: yes
  file:
    path: /etc/profile.d
    state: directory
    owner: root
    group: root
    mode: 'u=rwx,go=rx'
  when: java_is_default_installation

- name: export JAVA_HOME and add to PATH
  become: yes
  template:
    src:  java.sh.j2
    dest: /etc/profile.d/java.sh
    owner: root
    group: root
    mode: 'a+x'
  when: java_is_default_installation
